/* 
Global:
- Set universal font
 */
* {
  font-family: Arial, sans-serif;
}
/*
Unordered List Styling:
- List styling & spacing.
*/
ul {
  list-style-type: disc; /* Other options: circle, square, none */
  padding-left: 20px;
  font-size: 16px;
  color: #333;
}
/* 
List Styling: 
- Spacing of list elements
*/
li {
  padding-bottom: 3px;
}
/* 
List anchor styling:
- Removed default underline
*/
li a {
  text-decoration: none;
}
/* 
List anchor hover styling:
- Added underline on hover
*/
li a:hover {
  text-decoration: underline;
}
