* {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: disc; /* Other options: circle, square, none */
  padding-left: 20px;
  font-size: 16px;
  color: #333;
}

li {
  padding-bottom: 3px;
}

li a {
  margin-bottom: 8px;
  text-decoration: none;
  /* display: inline-block; */
}

li a:hover {
  text-decoration: underline;
}
